<ul class="changelog">
  {% assign sorted = site.posts | sort: 'date' | reverse %}
  {%- for item in sorted | limit: include.limit  -%}

      <li>
        <div class="dt-published date"><time>{{ item.date | date: "%B %-d, %Y %H:%M" }}</time></div>
        <div>
            {% if item.bookmark-of %}<div class="mb-4">Bookmarked <a href="{{ item.bookmark-of }}">{{ item.title }}</a></div>{% endif %}
            {% if item.reply-to and item.rsvp == null %}<div class="mb-4">Replied to <a href="{{ item.reply-to }}">{{ item.title }}</a></div>{% endif %}
            {% if item.like-of %}<div class="mb-4">Liked <a href="{{ item.like-of }}">{{ item.title }}</a></div>{% endif %}
            {% if item.rsvp %}<div class="mb-4">RSVP'd {{ item.rsvp }} to <a href="{{ item.reply-to }}">{{ item.title }}</a></div>{% endif %}  
        </div>
        {% if item.content %}<div class="">{{ item.content }}</div>{% endif %}
      </li>
  {%- endfor -%}
</ul> 