$black: #000;
$gray: rgb(130, 130, 130);

$primary: rgb(237, 116, 213);

// @import "../styles/utilities/tufte.scss";



@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/MonumentGrotesk-Regular.eot');
    src: url('../fonts/MonumentGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MonumentGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/MonumentGrotesk-Regular.woff') format('woff'),
        url('../fonts/MonumentGrotesk-Regular.ttf') format('truetype'),
        url('../fonts/MonumentGrotesk-Regular.svg#MonumentGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body, html {
    font-size: 18px;
    @media screen and (min-width: 1200px) {
        font-size: 22px;
    }
}

body {
    font-size: 1rem;
    font-family: 'Monument Grotesk';
    font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    padding: 5%;
    // @media screen and (min-width: 992px) {
    //     padding: 0;
    // }
}

#header {
    margin-bottom: 5rem;
    h1 {
        font-size: 100%;
        margin-bottom: 2rem;
    }
    a {
        color: $black;
        text-decoration: none;
    }
    nav {
        ul {
            li {
                margin-right: 2rem;
                a { 
                }
            }
        }
    }
}
 
.category-icon {
    background-color: rgb(240, 240, 240);
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin-right: 2rem;
}


.content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid rgba($black,0.1);
        padding: 1rem 0; 
        a {
            color: $black;
            text-decoration: none; 
            transition: 0.15s ease-in-out; 
        }
    }
}

.content-list-links {
    li {
        a {
            &:hover {
                transform: scale(1.02);
            }
        }
    }
}

a {
    color: $black;
    &:hover {
        color: $black;
    }
}
 

.form-check-input {
    width: 1.7rem !important;
    height: .9rem;
    &:checked {
        background-color: $black;
        border-color: $black;
    }
    &:focus {
        outline: none !important;
    }
}

.bg-primary {
    background-color: $primary !important;
}

.breakout { 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: auto; 
    left: 50%;
}

.listening-history {
    list-style-type: none;
    li {
        width: 300px;
        background: yellow;
        display: inline-block;
    }
} 
.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.blob.blue {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.p-title { 
    font-style: italic;
    display: inline-block;
    margin: 0 1rem; 
}

mark {
    background-color: transparent;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 15px), rgba(237, 116, 213,0.3) 10px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icon {
    width: 100px;
    height: 100px; 
  }

.bg-green { background-color: #f2faed; } 
.bg-yellow { background-color: #fcf7cd; } 
.bg-red { background-color: #fff1f3; } 
.bg-teal { background-color: #ebfcfc; } 

.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(231, 234, 238)!important;
}

.bg-dark {
    background-color: $black !important;
}

.text-muted {
    color: $gray !important;
    a {

    color: $gray !important;
    }
}

.fade-box {
    max-height: 530px;
    position: relative;
    overflow: hidden;
  }
  .fade-box-overlay { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;  
    height: 300px;
    margin: 0;
    padding: 0;
      
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
  }

 
 .filtered img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.7;
 }

 article.page {
     h3 { margin-top: 3rem;}
     h4 { margin-top: 2.5rem;}
     h5 { margin-top: 2rem;}
     h6 { margin-top: 1.5rem;}
 }