$black: #111115;
$gray-900: #222227;
$gray-800: #343439;
$gray-700: #5C5C62;
$gray-600: #87878D;
$gray-500: #B6B6BC;
$gray-400: #CECED4;
$gray-300: #D9D9E0;
$gray-200: #E7E7EC;
$gray-100: #F0F0F7;
$white: #fff;

 

// @import "../styles/utilities/tufte.scss";





body, html {
    font-size: 16px ;
    @media screen and (min-width: 1200px) {
        // font-size: 22px;
    }
}

body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol"; 
    font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: $gray-700; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
    word-wrap: break-word;
    // @media screen and (min-width: 992px) {
    //     padding: 0;
    // }
}


main {  
    padding: 10px; 
    margin: 100px 0 100px 0;
    @media screen and (min-width: 1200px) {
        padding: 0;
        margin: 200px 0 100px 0;
    } 
}

.text-dark {
    color: $black;
}
 
.category-icon {
    background-color: rgb(240, 240, 240);
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    margin-right: 2rem;
}


.content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li { 
        border-top: 1px solid $gray-100;
        padding: .5rem 0;
        a {
            color: $black;
            font-weight: normal;
            text-decoration: none;  
        }
    }
}
 

a {
    color: $black;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}
 

.form-check-input {
    width: 1.7rem !important;
    height: .9rem;
    &:checked {
        background-color: $black;
        border-color: $black;
    }
    &:focus {
        outline: none !important;
    }
}

.breakout { 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: auto; 
    left: 50%;
}

.listening-history {
    list-style-type: none;
    li {
        width: 300px;
        background: yellow;
        display: inline-block;
    }
} 

.bio {
    padding-left: 2rem;
}


.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.blob.blue {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.p-title { 
    font-style: italic;
    display: inline-block;
    margin: 0 1rem; 
}

mark {
    background-color: transparent;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 15px), rgba(237, 116, 213,0.3) 10px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icon {
    width: 100px;
    height: 100px; 
  }

.bg-green { background-color: #f2faed; } 
.bg-yellow { background-color: #fcf7cd; } 
.bg-red { background-color: #fff1f3; } 
.bg-teal { background-color: #ebfcfc; } 

.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(231, 234, 238)!important;
}

.bg-dark {
    background-color: $black !important;
}

.text-muted {
    color: $gray-500 !important;
    a {
    color: $gray-500 !important;
    }
}

.fade-box {
    max-height: 530px;
    position: relative;
    overflow: hidden;
  }
  .fade-box-overlay { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;  
    height: 300px;
    margin: 0;
    padding: 0;
      
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
  }

 
 .filtered img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.7;
 }

 article.page {
     h3 { margin-top: 3rem;}
     h4 { margin-top: 2.5rem;}
     h5 { margin-top: 2rem;}
     h6 { margin-top: 1.5rem;}
 }

 h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
     font-size: 120%;
     color: $black !important; 
 }


 article {
    margin-bottom: 100px;
     header {
         margin-bottom: 100px;
     }
     footer {
         margin-top: 100px;
     }
 }
 
 
 #header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%; 
    line-height:auto;
    position:fixed;
    z-index:999999;
    padding: 10px 0 8px 0;
    border-bottom: 1px solid $gray-100;
    background:rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    h1 {
        font-size: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        font-weight: 600;
    }
    ul {
        padding: 0;
        margin: 0;
        text-align: right;
        list-style-type: none;
        li {
            display: inline-block;
            margin-left: 1rem;
        }
    }
 }

 #footer {
    border-top: 1px solid $gray-100;
    padding-top: 100px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        li {
            display: inline-block;
            margin: 0 1rem 0 0; 
        }
    } 

}


.p-note {
    padding-left: 2rem;
}

.bottom {
    padding: 10px 0 8px 0;
    width: 100%;
    position: absolute;
    left: 0;
    border-top: 1px solid $gray-100;
    color: $gray-600;
    font-size: 90%;
    a {
        font-weight: normal;
        color: $gray-600;
    }
    ul {
        padding: 0;
        margin: 0;
        text-align: right;
        list-style-type: none;
        li {
            display: inline-block;
            margin-left: 1rem;
        }
    }
} 
 
img {
    max-width: 100%;
    height: auto;
  }
  

.portrait {
    text-align: center;
    img {
        max-width: 200px;
        border-radius: 200px;
        @media screen and (min-width: 992px) {
            max-width: 100px;
            border-radius: 100px;
        }
    }
} 

.p-name {
    font-weight: 600;
    color: $black;
    line-height: 100%;
}

h1 {
    margin-top: 3px !important;
}


.badge {
    background-color: $gray-100;
    color: $gray-600;
    font-size: 90%;
    display: inline-block !important;
    font-weight: 600; 
    .icon {
        margin-right: 10px;
    }
}


.changelog {
    li {
        position: relative;
        .date {
            position: absolute;
            margin-left: -170px;
            max-width: 150px;
            text-align: right;
            font-weight: 500;
            font-size: 90%;
            color: $gray-600;
            line-height: 28px;
        }
        .what {
            margin-left: 4px;
        }
        .timeline {
            color: $gray-300;
            display: flex;
            flex-flow: column;
            height: 100%;
            padding-top: 5px;
            .line {
                width: 1px;
                background: $gray-200;
                flex-grow : 1;
                margin-left: 7.5px;
                margin-top:5px;
            }
        }
    } 
    li:last-child {
        .line {
            display: none;
        }
    }
}


a[target="_blank"] { color: dodgerblue; font-weight: normal; }  


.theme-toggler {
    padding-left: 1rem;
    label {
        input {
            display: none;
        }
    }
}



body.dark {
    background: $black;
    color: $gray-500;
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $white !important; 
    }
    #header {
        border-bottom: 1px solid $gray-900;
        background:rgba($black, 0.4);
    }
    a, .p-name {
        color: $white;
    }
    #footer, .bottom {
        border-top: 1px solid $gray-900;
    } 
    .bottom {
        a {
            color: $gray-600;
        }
    }
    .content-list {
        li {
        border-top: 1px solid $gray-900;
        }
    }
    .text-muted {
        color: $gray-600 !important;
        a {
        color: $gray-600 !important;
        }
    }
  }

