$black: rgba(0, 0, 0, 1);
$gray-900: rgba(0, 0, 0, 0.9);
$gray-800: rgba(0, 0, 0, 0.8);
$gray-700: rgba(0, 0, 0, 0.7);
$gray-600: rgba(0, 0, 0, 0.6);
$gray-500: rgba(0, 0, 0, 0.5);
$gray-400: rgba(0, 0, 0, 0.4);
$gray-300: rgba(0, 0, 0, 0.3);
$gray-200: rgba(0, 0, 0, 0.2);
$gray-100: rgba(0, 0, 0, 0.1);

html {
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    overflow-y: auto !important;
}

body, html { 
    font-size: 18px;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

body {
    background-color: white;
    color: $gray-600; 
    font-size: 1rem;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizelegibility; 
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";  
    word-wrap: break-word;
    font-kerning: normal; 
    padding: 10%; 
    @media screen and (min-width: 768px) {
        padding: 0;
        max-width: 700px;
        margin: 200px auto;
    }
}

.main {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;  
}
 
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $black;
    font-size: 100%; 
    font-weight: 500;
    margin: 0 0 2rem 0;
    padding: 0;
    a {
        color: $black;
        text-decoration: none;
    }
} 

a {
    color: $gray-600; 
    text-decoration: underline;
    font-weight: 400;
    &:hover {
        color: $gray-600;
    }
}

#header {
    margin-bottom: 100px;
    position: relative;
}

#footer {
    margin-top: 100px;
}

.memoji {
    width: 60px;
}



.text-muted {
    color: $gray-400 !important;
    a {
        font-weight: normal;
        color: $gray-400 !important;
    }
} 

.list-inline {
    .list-inline-item {
        margin-right: 2rem;
    }
}

section {
    margin-top: 5rem;
}

.tile { 
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 30px;
    width: 60px;
    height: 60px; 
    line-height: 60px;  
    color: $black !important;
    @media screen and (min-width: 768px) { 
    font-size: 50px;
    width: 100px;
    height: 100px; 
    line-height: 100px;  
    }
}

.tile-green {
    background-color: #fff9e1;
}

.tile-red {
    background-color: #fff5f5;
}

.tile-blue {
    background-color: #edecff;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}