$black: #13202F;
$gray-900: #1F3044;
$gray-800: #30445A;
$gray-700: #596A7C;
$gray-600: #768392;
$gray-500: #8B95A1;
$gray-400: #9AA5B0;
$gray-300: #B7C1CC;
$gray-200: #CED9E4;
$gray-100: #E7EEF4;
$gray-50: #F5F7F9;

body, html {
    font-size: 17px;
}

body {
    background: white;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
    word-wrap: break-word;
    color: $gray-800; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
    padding: 200px 20px 20px 20px;
    line-height: 165%;
    font-size: 1rem;
    @media screen and (min-width: 992px) {
        padding: 10px;
    }
}

body.dark {
    background: black;
}

main { 
    @media screen and (min-width: 992px) {
        padding: 10%;
    }
}

 

#footer {
    margin-top: 100px;
    @media screen and (min-width: 992px) {
        margin-top: 200px;
    }
    a {
        color: $gray-600;
        &:hover {
            color: $gray-500;
            border-bottom: 1px solid $gray-400;
            padding-bottom: 1px;
            text-decoration: none;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            margin-right: 1rem;
            @media screen and (min-width: 1200px) { 
                display: inline-block;
            }
        }
    }

}

 



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $black;
    font-weight: 600;
    font-size: 120%;
}

h1 {
    margin-bottom: 3rem;
}

article {
    h2 { margin-top: 3rem; }
    h3 { margin-top: 2.5rem; }
    h4 { margin-top: 2rem; }
    h5 { margin-top: 1.5rem; }
    h6 { margin-top: 1.25rem; }

    a {
        border-bottom: 1px solid $gray-800;
        padding-bottom: 1px;
        &:hover {
            color: $black;
            border-bottom: 1px solid $black;
            text-decoration: none;
        }
    }
    header, footer {
        margin: 100px 0;
    }
    footer {
        color: $gray-600;
        border-top: 1px solid $gray-100;
        padding-top: 4rem;
        a {
            &.note-list-item {
                color: $gray-600;
                text-decoration: none;
                &:hover { 
                    text-decoration: none;
                    border: 0;
                    border-top: 1px solid $gray-100;
                }
            }
        } 
    }
}

.tags-list { 
    list-style-type: none;
    display: inline;
    margin: 0 0 0 .4rem;
    padding: 0;
    li {
        display: inline;
        &:not(:last-child):after {
            content: ', '; 
        }
        &:nth-last-child(2):after {
            content: ' or '; 
        }
        a {
            border-color: $gray-600;
            &:hover {
                border-color: $black;
            }
        }
    }
}


 

a {
    color: $gray-800;
    text-decoration: none;
    &:hover {
        color: $black;
        border-bottom: 1px solid $black;
        text-decoration: none;
    }
}

p {
    a {
        border-bottom: 1px solid $gray-800;
        padding-bottom: 1px;
        &:hover {
            color: $black;
            border-bottom: 1px solid $black;
            text-decoration: none;
        }
    }
}

.tippy-box {
    background: white;
    border: 1px solid $gray-100;
    padding: 1rem;
    height: 200px;
    width: 300px !important;
    overflow:hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 45px 0px rgba(31,48,68,0.1);
-moz-box-shadow: 0px 10px 45px 0px rgba(31,48,68,0.1);
box-shadow: 0px 10px 45px 0px rgba(31,48,68,0.1);
}

img {
  max-width: 100%;
  height: auto;
}


.btn {
    border: 1px solid $gray-100;
    &:hover {
        background-color: $gray-50;
    }
}

.note-list-item {
    border-top: 1px solid $gray-100;
    padding: 10px 0;
}

.text-muted {
    color: $gray-600;
}

.footnotes {
    margin-top: 100px;
    color: $gray-600;
    font-size: 80%;
}


.note-list-item {
        text-decoration: none;
        border: 0;
        border-top: 1px solid $gray-100;
}


.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}
