body {
    padding: 10px;
  }
  @media screen and (min-width: 768px) {
    body {
      max-width: 600px;
      margin: 100px auto; 
    }
  }
  @media screen and (min-width: 992px) {
    body {
      max-width: 600px;
      margin: 200px auto; 
    }
  }
  section {
    margin-top: 50px;
  }
  article {
    margin-top: 30px;
  }
  footer {
    font-size: 90%;
    margin-top: 100px;
  }
  a {
    color: blue;
  }
  a:hover {
    color: deeppink;
  }
  a:visited {
    color: blue;
  }
  a:visited:hover {
    color: deeppink;
  }