---
---

$black: #111115;
$gray-950: #1b1b1f;
$gray-900: #222227;
$gray-800: #343439;
$gray-700: #5C5C62;
$gray-600: #87878D;
$gray-500: #B6B6BC;
$gray-400: #CECED4;
$gray-300: #D9D9E0;
$gray-200: #E7E7EC;
$gray-100: #F0F0F7;
$white: #fff;


$palette-blue: #54B5F9;  
$palette-purple: #7861E7;  
$palette-pink: #EB5CD5;  
$palette-orange: #EF7F55;  
$palette-green: #5FCA71;  
$palette-yellow: #F7C951;
$palette-black: #222D3C; 
$palette-dark: #3E4857; 
$palette-gray: #8792A4; 
$palette-light: #D5DCE5; 
$palette-snow: #E6E9F1; 


$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";
$font-bold: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol"; 


body, html {
    scroll-behavior: smooth;
    font-size: 16px;
    @media screen and (min-width: 1200px) {
        font-size: 19px;
    }
}

body {
    font-size: 1rem;
    font-family: $font-default;  
    color: $gray-800; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern","liga","clig","calt";
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
    word-wrap: break-word; 
    padding: 10%;
    @media screen and (min-width: 768px) {
      padding: 0;
      margin: 100px 0;
    }
    @media screen and (min-width: 992px) {
      margin: 200px 0;
    }
}
 

section {
  margin-bottom: 100px;
}



.list-style-sentence {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0; 
  li {
      display: inline;
      &:nth-child(1)::after {
          content: ","
      }
      &:nth-child(2)::after {
          content: ", or "
      }
  }
}


img {
  max-width: 100%;
  height: auto;
}


.portfolio {
  margin-bottom: 50px;
  img {
      border: 10px solid white;
      -webkit-box-shadow: 0px 10px 40px 0px rgba(17,17,21,0.08);
      -moz-box-shadow: 0px 10px 40px 0px rgba(17,17,21,0.08);
      box-shadow: 0px 10px 40px 0px rgba(17,17,21,0.08);
      margin: 30px 0 20px 0;
      border-radius: 20px;
  }
  figcaption {
      color: $gray-600;
      text-align: center;
      font-size: 80%;
  }
}


.btn {
  border: 1px solid gray;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
   font-weight: 500;
   font-size: 100%;
   font-weight: 500;
   color: $black !important;  
   line-height: 155%;
   a {
       text-decoration: none;
   }
}

.changelog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .timeline {
    color: $gray-300;
    display: flex;
    flex-flow: column;
    height: 100%;
    .line {
        width: 3px;
        background: $gray-200;
        flex-grow : 1;
        margin-left: 8.5px;
        margin-top:5px;
    }
  }
  li:last-child {
    .line {
      display: none;
    }
  }
}


