.romcommunism {
  background-color: #e8dde2;
  font-weight: 600;
  color: #fff; 
  padding: 100px 0;
  font-size: 2rem;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }

  .fading-content { 
    overflow: hidden;
    max-height: 320px;
    line-height: 100%;
    position: relative;
  }
}
 

.read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 100px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  } 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, rgba(#e8dde2, 0), #e8dde2);
}

 