---
layout: default
---
{%- include Back.html -%}
<h2>{{page.title}}</h2>
{{ content }}
 

<section class="now">
    {% assign sorted = site.now | sort: 'date' | reverse %}
    {%- for item in sorted limit: 1 -%} 
    {% if post.categories contains "now" %}
        <article> 
            <header>
                <div class="date  dt-published">
                    <time>{{ item.date | date: "%B %-d, %Y" }}</time>
                </div> 
            </header>
            {{ item.content }} 
        </article>
        {% endif %}
    {%- endfor -%}
</section>

<hr class="big">

<section class="now then">
    <h3>Then</h3>
    {% assign sorted = site.now | sort: 'date' | reverse %}
{%- for item in sorted  offset:1 -%} 
    <article>       
        <header>
            <div class="date dt-published">
                <time>{{ item.date | date: "%B %-d, %Y" }}</time>
            </div>  
        </header>
        {{ item.content }} 
    </article>
{%- endfor -%}
</section>