<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body> 
    <main>{{ content }}</main>
    <footer id="footer">
      <p>
          <a href="/">Zinzy Waleson</a> is a designer and facilitator from Amsterdam. This personal site was designed and built by hands and is part of the <a href="https://indieweb.org/User:Www.zinzy.website" target="_blank" rel="noopener noreferrer">IndieWeb</a>. You may reach her via 
          <a href="mailto:zinzy@pm.me" rel="me">email</a>,
          <a href="https://www.linkedin.com/in/zinzy/" rel="me" target="_blank" rel="noopener noreferrer">LinkedIn</a>, and
          <a href="https://github.com/zinzy" rel="me" target="_blank" rel="noopener noreferrer">Github</a>.

      </p>
  </footer>
    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
