---
layout: default
---

<header>
    <h1><a href="/">Zinzy Waleson</a></h1>
    <ul>
      <li>Designer & facilitator</li>
      <li>East side of Amsterdam</li>
      <li>Available on
        <a href="mailto:zinzy@pm.me">email</a>,
        <a href="https://indieweb.org/User:Www.zinzy.website" target="_blank" rel="noopener noreferrer">IndieWeb</a>, 
        <a href="https://www.linkedin.com/in/zinzy/" target="_blank" rel="noopener noreferrer">LinkedIn</a>, and
        <a href="https://github.com/zinzy" target="_blank" rel="noopener noreferrer">Github</a>
      </li>
    </ul>
  </header>
<main>{{ content }}</main> 

<hr class="big">

<section>
    <h2>Changelog</h2>
    {%- include Changelog.html -%}
    <!-- <a href="/changelog" class="button">All updates →</a> -->
</section>
